@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;400;600;700&display=block');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Sora:wght@400;600&display=block');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.xar-light-mode {
  --fg: #e4e9eb;
  --bg: #e4e9eb;
  --background: #f7f7f7;
  --inputShadow: 0 0 8px 3px rgba(126, 126, 126, 0.25);
  --text-color: #1d2a31;
  --sub-text-color: #4c626e;
  --otp-bg: #eeeeee;
  --otp-shadow: 1px 1px 2px 0px #aeaec033 inset,
    -1px -1px 1px 0px #ffffffb2 inset;
  --action-link-text-color: #aa346a;
  --separator-color: #c8d5d9;
  --error-text-color: #f61d1d;
}

.xar-dark-mode {
  --fg: #47545b;
  --bg: #39444a;
  --background: #2d363b;
  --inputShadow: 0 0 8px 3px rgba(0, 0, 0, 0.05);
  --text-color: #f7f7f7;
  --sub-text-color: #d4d7d8;
  --otp-bg: linear-gradient(141.48deg, #161616 -4.56%, #151515 135.63%);
  --otp-shadow: -50px 49px 29px 22px #1c1c1cd6 inset,
    5px 5px 10px 0px #0b0b0b80 inset;
  --action-link-text-color: #ff89bf;
  --separator-color: #39444a;
  --error-text-color: #fa3636;
}

.compact {
  --modal-height: 235px;
  --loader-font-size: 14px;
  --loader-font-weight: 400;
  --success-img-width: 70px;
  --action-link-size: 12px;
}

.full {
  --modal-height: 428px;
  --loader-font-size: 20px;
  --loader-font-weight: 700;
  --success-img-width: 100px;
  --action-link-size: 12px;
}

#xar-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2147483648;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(10, 10, 10, 0.7);
  backdrop-filter: blur(16px);
  font-family: Sora, sans-serif;
}

.xar-header-logo__container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--fg);
}

.xar-header-logo__empty-container {
  /* width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; */
  display: none;
}

.xar-header-logo {
  max-width: 60px;
  max-height: 60px;
  margin: 0 auto;
  display: inline-block;
  border-radius: 100%;
}

.xar-header-heading {
  font-family: 'Sora', sans-serif;
  text-align: center;
  font-size: 20px;
  color: var(--text-color);
}

.xar-header-subtext {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  max-width: 200px;
}

.xar-sub-text {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--sub-text-color);
}

.xar-email-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.xar-email-login > *:not(:first-child) {
  margin-top: 20px;
}

.xar-email-login__label {
  text-align: left;
  font-size: 14px;
  color: var(--fg);
  font-weight: 400;
}

.xar-success__img {
  max-width: var(--success-img-width);
}

.xar-email-login__input-container {
  display: flex;
  min-height: 45px;
  background: var(--bg);
  border-radius: 8px;
  padding: 0 10px;
}

.xar-email-login__input {
  flex: 1;
  height: 45px;
  padding: 0;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  background: var(--bg);
  border: none;
  outline: none;
}

.xar-social-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.xar-social-icon__wrapper {
  display: flex;
  background: var(--fg);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
}

.xar-social-icon__wrapper:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.15, 1.15);
}

.xar-social-icon {
  margin: 0 auto;
  width: 24px;
  max-height: 24px;
}

.xar-container {
  padding: 20px;
  width: 360px;
  min-height: var(--modal-height);
  background-color: var(--background);
  color: var(--fg);
  margin: 0 auto;
  font-family: 'Sora', sans-serif;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.xar-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
}

.xar-inner-container > *:not(:first-child) {
  margin-top: 20px;
}

.xar-more-sheet-container {
  background: rgb(18 18 18 / 90%);
  position: absolute;
  height: 139.5%;
  width: 113%;
  border-radius: 10px;
  bottom: -75px;
}

.xar-more-sheet {
  padding: 14px;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--background);
  transition: all 0.3s ease-in-out;
  animation: slide-up 0.3s ease-in-out forwards;
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0px;
}

.xar-more-shrink-icon {
  width: 50px;
  height: 10px;
  cursor: pointer;
}

.xar-more-sheet__title {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 600;
}

.xar-more-sheet__list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background: var(--bg);
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

.xar-more-sheet__list-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.xar-more-sheet__list-icon {
  background: var(--fg);
  padding: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.xar-more-sheet__list-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  text-transform: capitalize;
}

.xar-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.xar-btn:disabled {
  opacity: 0.7;
}

.xar-btn:hover:enabled {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.05, 1.15);
}

.xar-btn:disabled,
.xar-btn[disabled] {
  cursor: not-allowed;
}

.xar-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.xar-footer-text {
  font-size: 12px;
  font-weight: 400;
}

.xar-footer-img__link {
  height: 15px;
}

.xar-footer-img {
  display: block;
}

.xar-separator {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--separator-color);
}

.xar-separator:before,
.xar-separator:after {
  content: '';
  flex: 1 1 auto;
  border-bottom: 1px solid var(--separator-color);
}

.xar-separator:before {
  margin-right: 1rem;
}

.xar-separator:after {
  margin-left: 1rem;
}

.xar-action__link {
  border: 0;
  background: none;
  color: var(--action-link-text-color);
  font-weight: 400;
  font-size: var(--action-link-size);
  cursor: pointer;
}

.xar-action__link:disabled {
  color: #667b91;
  cursor: not-allowed;
}

.xar-loader__text {
  font-size: var(--loader-font-size);
  font-weight: var(--loader-font-weight);
  color: var(--text-color);
}

.xar-loader-circle {
  stroke: var(--fg);
}

.xar-otp-box-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.xar-otp-box {
  display: flex;
  gap: 0.5em;
}

.xar-otp-input {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 400;
  border: none;
  outline: none;
  text-align: center;
  width: 30px;
  height: 35px;
  border-radius: 8px;
  background: var(--bg);
}

.xar-invalid-otp {
  border: 1px solid var(--error-text-color);
}

.xar-invalid-otp-text {
  color: var(--error-text-color);
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}

.xar-otp-input:disabled {
  opacity: 0.5;
}

.xar-otp-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  flex: 1;
}

.xar-otp-sub-heading {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: var(--sub-text-color);
}

.xar-otp-email {
  font-size: 14px;
  font-weight: 700;
  color: var(--sub-text-color);
}

.xar-otp-error-heading {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.xar-otp-error-subheading {
  color: var(--sub-text-color);
  font-weight: 400;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.xar-otp-heading-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  position: relative;
  align-items: center;
}

.xar-loader {
  animation: spin 1s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
