.arcana-widget {
  --button-bg-color: #ededed;
  --text-color: #0f0f0f;
  --header-bg-color: #f0f0f0;
  --body-bg-color-1: rgba(232, 232, 232, 0.36);
  --body-bg-color-2: #d6d8d9;
  --close-button-img: url("./assets/images/close_button.png");

  position: absolute;
  bottom: 3%;
  right: 3%;
}

.arcana-widget_dark-mode {
  --button-bg-color: #000000;
  --text-color: #ffffff;
  --header-bg-color: #1f1f1f;
  --body-bg-color-1: #000000;
  --body-bg-color-2: #84523f;
  --close-button-img: url("./assets/images/close_button_colored.png");
}

.arcana-widget_button {
  width: 117px;
  height: 117px;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: var(--button-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arcana-widget_button-img {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.arcana-widget_button-text {
  font-size: 12px;
  color: var(--text-color);
}

.arcana-widget_iframe-container {
  width: 360px;
  height: 540px;

  display: flex;
  flex-direction: column;
}

.arcana-widget_iframe-header {
  padding: 10px 16px;
  display: flex;
  align-items: center;

  background: linear-gradient(
    138.99deg,
    var(--header-bg-color) 22.29%,
    var(--header-bg-color, rgba(254, 254, 255, 0)) 101.74%
  );
  box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.arcana-widget_iframe-body {
  flex-grow: 1;
  background: linear-gradient(
    324.81deg,
    var(--body-bg-color-2) 14.65%,
    var(--body-bg-color-1) 92.36%
  );
  padding: 16px;
}

.arcana-widget_iframe {
  width: 100%;
  height: 100%;
  border: none;

  background: #f9f9f9;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.arcana-widget_iframe-header_logo-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.arcana-widget_iframe-header_logo {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.arcana-widget_iframe-header_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--text-color);
}

.arcana_widget_iframe-header-close-btn-img {
  width: 100%;
}

.arcana_widget_iframe-header-close-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: var(--header-bg-color);
  cursor: pointer;
  background-image: var(--close-button-img);
  background-size: contain;
}

.arcana_widget-component-hide {
  display: none;
}

@media (max-width: 375px) {
  .arcana-widget_iframe-container {
    width: 235px;
    height: 375px;
  }
  .arcana-widget_button {
    border-radius: 30px 0px 30px 30px;
  }
}
