.arcana-widget {
  --button-bg-color: #ededed;
  --text-color: #0f0f0f;
  --header-bg-color: #f0f0f0;
  --body-bg-color-1: rgba(232, 232, 232, 0.36);
  --body-bg-color-2: #d6d8d9;
  --close-button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACuSURBVHgB7ZTBCYAwDEW/TtBRHMGNHMG6iSO4gW5kN9AUeghiNan1UOiDoNIkj0IiUKkUjTFmoOiUNT1S8IUUB8UulVLeGGrGWE4bO3DObfSYfB+K9U0aJDZ8NkiFGtm3m7Kb+bD4ypM0u+xJ+pssIp1/ld1Ik2Qt9Bzs3VEsUKASXkZ/g3BlkrgbEMnKZJOxs7xSyehnk2r27LOU/bzFo8+kovxYA6us6VGpFM0JJh9YsfU7O7QAAAAASUVORK5CYII=");

  position: absolute;
  bottom: 3%;
  right: 3%;
}

.arcana-widget_dark-mode {
  --button-bg-color: #000000;
  --text-color: #ffffff;
  --header-bg-color: #1f1f1f;
  --body-bg-color-1: #000000;
  --body-bg-color-2: #84523f;
  --close-button-img: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAD6SURBVHgB7ZTNDYIwFIBfK96NP3s4gm7gAoYRHIGygRsYQ7jrBDAQUc4Cfb4STXqh9iEXEr6kCQXKV/p+ACYmRs0ywdMmfW05a9YX3Lmey86FSbUToM9azzJf6TrFCAOd0UYjtrA4znMSxnS58JG2Mq1VO9G1gL7Qn6pV0iCNZ5fUyD7v4PJaKfgXl3RwmUvaR8Y6ayNFkCYhShp3GqG5T7GLH+Fc+XyDHVxLClyZQQIXGaA1K2cB3oABS2invgCRg2fJ9BLaMnOMxVHuOXXKwpWNPnU6mGxwKafOfKXO5m3H7FfqU+9V35g2tThAH8yuue3KbBQmJkbNGx1Y4ubJGgc3AAAAAElFTkSuQmCC");
}

.arcana-widget_button {
  width: 117px;
  height: 117px;
  border: none;
  border-radius: 50%;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: var(--button-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arcana-widget_button-img {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}

.arcana-widget_button-text {
  font-size: 12px;
  color: var(--text-color);
}

.arcana-widget_iframe-container {
  width: 360px;
  height: 540px;

  display: flex;
  flex-direction: column;
}

.arcana-widget_iframe-header {
  padding: 10px 16px;
  display: flex;
  align-items: center;

  background: linear-gradient(
    138.99deg,
    var(--header-bg-color) 22.29%,
    var(--header-bg-color, rgba(254, 254, 255, 0)) 101.74%
  );
  box-shadow: -1px -1px 3px #ffffff, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.arcana-widget_iframe-body {
  flex-grow: 1;
  background: linear-gradient(
    324.81deg,
    var(--body-bg-color-2) 14.65%,
    var(--body-bg-color-1) 92.36%
  );
  padding: 16px;
}

.arcana-widget_iframe {
  width: 100%;
  height: 100%;
  border: none;

  background: #f9f9f9;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.arcana-widget_iframe-header_logo-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.arcana-widget_iframe-header_logo {
  width: 25px;
  height: 25px;
  margin-right: 6px;
}

.arcana-widget_iframe-header_text {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: var(--text-color);
}

.arcana_widget_iframe-header-close-btn-img {
  width: 100%;
}

.arcana_widget_iframe-header-close-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: var(--header-bg-color);
  cursor: pointer;
  background-image: var(--close-button-img);
  background-size: contain;
}

.arcana_widget-component-hide {
  display: none;
}

@media (max-width: 375px) {
  .arcana-widget_iframe-container {
    width: 235px;
    height: 375px;
  }
  .arcana-widget_button {
    border-radius: 30px 0px 30px 30px;
  }
}
